@{
    ViewBag.Title = "About";
}

<div class="about">
    <div id="about-text">
        <h2>Um okkur</h2>
                <p>
                    Síðan er gerð í þeim tilgangi að leyfa fólki að ná í texta skrár, leiðrétta og
                    jafnvel spreita sig á að búa til skjátextaskrá og hlaða henni inná síðuna. Til að
                    hafa samband við vefstjórnendur er hægt að senda póst á vefföng þeirra. Síðan er 
                    verður ekki með vefauglysingar svo lengi sem við græðum nægan pening á ykkur frá
                    strkjum.
                </p>
    </div>
    <div id="about-list">
                <dl>
                    <dt>Sveinbjorn Berent B</dt>
                        <dd>sveinbjorn13@ru.is </dd>
                    <dt>Sveimbi</dt>
                        <dd>Sveimbi@gmail.is</dd>
                </dl>
            </div>

        
</div>


