@{
    ViewBag.Title = "Forsíðan";
}


<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="Site.css" />
</head>
<body>
    <div id="Leitmidjad">
        <input id="Leitbox" type="text" name="leit" placeholder="Leita">
        <form action="">
            <select name="Flokkar" id="Leitmenu">

                <option value="valmynd">--Velja flokk--</option>
                <option value="barnaefni">Barnaefni</option>
                <option value="drama">Drama</option>
                <option value="gaman">Gaman</option>
                <option value="hrollvekja">Hrollvekja</option>
                <option value="spenna">Spenna</option>
                
            </select>
        </form>

        <input type="submit"
               value="Leita!"><p><br /></p>

    </div>
    
    <div id="Search-boxes">
        <textarea id="Leftbox"rows="30" cols="90">
            Nylegar skrar
        </textarea>
        <textarea rows="30" cols="90">
            Vinsaelast
        </textarea>
    </div>


</body>
</html>