@{
    ViewBag.Title = "Home Page";
}


<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="Site.css" />
</head>
<body>
    <input id="Leitbox" type="text" name="leit" placeholder="Leita">
    <form action="">
        <select name="Flokkar">

            <option value="valmynd">--Velja flokk--</option>
            <option value="barnaefni">Barnaefni</option>
            <option value="drama">Drama</option>
            <option value="gaman">Gaman</option>
            <option value="hrollvekja">Hrollvekja</option>
            <option value="spenna">Spenna</option>

        </select>
    </form>

    <input type="submit"
           value="Leita!"><br>
    <textarea rows="30" cols="50">
        Nylegar skrar
    </textarea>
    <textarea rows="30" cols="50">
        Vinsaelast
    </textarea>
</body>
</html>