@{
    ViewBag.Title = "Beiðni-Leit";
}


<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="Site.css" />
</head>
<body>

    <div id="Breadcrumb">
        <p><a href="/Home/">Heim</a> > Beiðni</p>

    </div>

    <div id="Leitmidjad">
        <input id="Leitbox" type="text" name="leit" placeholder="Leita">
        <form action="">
            <select name="Flokkar" id="Leitmenu">

                <option value="valmynd">--Velja flokk--</option>
                <option value="barnaefni">Barnaefni</option>
                <option value="drama">Drama</option>
                <option value="gaman">Gaman</option>
                <option value="hrollvekja">Hrollvekja</option>
                <option value="spenna">Spenna</option>

            </select>
        </form>

        <input type="submit"
               value="Leita!"><p><br /></p>

    </div>

    <center>
        <textarea rows="30" cols="50">
            Nylegar skrar
        </textarea>
        <textarea rows="30" cols="50">
            Vinsaelast
        </textarea>
    </center>

</body>
</html>