#head {
   /* background-image:url('Headohoto.png');*/
    background-color:#800080;
    height:130px;
    text-align:center;   
    color:#ffffff;
}
#head span{
    font-size: 35px;
    padding-top:20px;
}
#head-left{
    float:left;
    padding-left:60px;
    padding-top:20px;    
}
#head-login{
    float:right;
     
}